
@font-face{
  font-family: 'e-Ukraine';
   src: url('./font/e-UkraineHead-Medium.ttf') format('truetype');
 
}
@font-face{
  font-family:'e-Ukraine-Light' ;
src: url('./font/e-Ukraine-Light.ttf') format('truetype')

}
body {
  margin: 0;
  font-family: e-Ukraine-light,serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }
 button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
 .svgContainer {
   display: inline-block;
   padding-right: 6px;
 }
 .row {
   margin: 0 !important;
 }
.col {
  padding: 0 !important;
}
.card-header {
  font-family: e-Ukraine,serif; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  /* background:linear-gradient(247.21deg,#8ce2b0 8.73%,#04aed5 90.64%); */
  height: 100vh; 
}
.containetTest{
  background:linear-gradient(247.21deg,#8ce2b0 8.73%,#04aed5 90.64%);
  height: 100vh;
  width: 100vw;
 }
.text-center{
   top: 30px;
 
  margin: auto;
}
.logo {
  padding-top: 20px;
}
.buttonLs{
  background:linear-gradient(247.21deg,#8ce2b0 8.73%,#04aed5 90.64%);
  margin-left: 10px;
  width: 200px;
}
.BtnContainer{
  display: flex;
  justify-content: flex-end;
}
.row{
  width: 100%;
 }
 .navItem {
   display: flex;
   justify-content: flex-start;
 
  
  }
 .navItem a{
  color: #a1a4a8;
  display: inline-block
  
 }
 .checkbox{
   padding-left: 10px;
 }
 .navItem a:visited{
  color:white;
   
 }
 .navItem a:hover{
  color: #a1a4a8; }
 .navItem1:hover{
   background:rgba(58, 57, 57, 0.61);
  
 }
 .sidebar {
   padding-right: 0 !important;
   padding-left: 0 !important;
   height: 100vh;
   background-color: rgb(30, 38, 44); 
   border-color: rgb(30, 38, 44);
   min-width: 225px;
   height: 100vh;
 }
 .leftBar {
   background: white;
   height: auto;
   padding: 25px !important;

  }
 img {
  width: 100%;
  height: auto;
 }
 .navItem1 {
   display: flex;
   justify-self: start;
   padding-left: 11px;
   padding-right: 0;
   color:  #a1a4a8;
   font-size: 12px;
   min-height: 25px;
   font-weight: 500;
  }
  .navTitle a {
    padding-left:0;
  }
   .nav-item .active{
    color: white !important;
  }
 .navTitle{
  font-size: 9px;
  min-height: 15px;
  font-weight: 500;
 
  cursor: pointer;
 }
.logoCheck {
color: white;
 padding-top: 15px;
 padding-bottom: 15px;
}
.vertical {
   border-bottom: 1px solid #32363f;
   margin-top: 10px;
   margin-bottom: 10px;
 }
 .st0{
  fill: white !important;
 }

 /* SALE */

 .saleTitle {
  font-family: e-Ukraine,serif; 
  color: black;
  font-size: 1.75em;
  }
 .saleContainer {
   display: flex;
   justify-content: space-between;
 }
 .support {
   width: 200px;
   height: 40px;
 }
 .btn {
  border-radius: 12px !important;
  font-weight: 600 !important;
  letter-spacing: .64px !important;
 }
 .MuiButton-containedPrimary {background-color: #48a1ff !important ;}
 .createdReceiptConteiner {
  padding-top: 50px;
}
  .buttonConteiner {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  .textHelper {
    margin-top: 25px;
    text-align: left;
    font-size: 12px;
    border: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(202,16,142,0.9923319669664741) 0%, rgba(209,58,92,0.7682423311121324) 43%, rgba(255,0,78,1) 100%);
    border-image-slice: 1;    
    display: inline-block;
    padding: 7px;
  }
  .textHelperBlock {
    display: none;
  }
  .containerTextHelper {
    display: flex;
    align-items: flex-start;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);   

  }
  .textDashbord {
    position: absolute;
    margin-top: 25px;
    text-align: left;
    font-size: 12px;
  }
  .buttonContainerRight{
    display: flex;
 align-items: center;
  }
  .balance {
    margin-right: 15px;
    text-align: start;
  }
  .balanceKass {
    font-size: 1.5em;
    line-height: 1;
    font-size: 24px;
    font-weight: 900;
  }
  .buttonContainerLeft{
    display: inline-block;
  }
 .btn-primary {
  background: linear-gradient(247.21deg,#8ce2b0 8.73%,#04aed5 90.64%);
  border-style: none !important;
    height: 40px;
    margin-right: 10px;
    font-size: 14px !important;

}
.btn-add {
  position: relative;
  height: 24px;
  width: 24px;
  background: linear-gradient(247.21deg,#8ce2b0 8.73%,#04aed5 90.64%);
}
.arrowSpan {
  position: absolute;
    top: 1px;
    left: 7px;
}
.btn-secondary {
  background: white !important;
  align-items: center;
}
.btn-dark {
  margin-right: 10px;
  background: white !important;
  color:  black !important;
}
.btn-danger {
  background: white !important;
  color: #ff002b!important;
  margin-left: 10px !important;
  font-size: 14px !important;
  height: 38px;

  border-color: linear-gradient(85.13deg,#ff002b,#ff8a00) !important;
}
.btn-danger span {

}
.v-btn__content {
  background:linear-gradient(247.21deg,#8ce2b0 8.73%,#04aed5 90.64%);
  background-clip: text;
-webkit-background-clip: text;
color: transparent;
font-size: 14px;
}
 .btnCheck{
   width: 100% !important;
   background: black !important;
   color: white !important;
   font-size: 12px !important;
  height: 40px;
 }
/* Input */
 
.form-control {
  font-size: 0.75rem !important;
 }
 .form-control:focus {
   background: white !important;
 }
 .inputGoods{
 background: white !important;
  height: 24px !important;
  border-radius: 8px !important;

}
 .form-check-label {
   color: black;
 }
 /* Table */
 .table td, .table th {
   border: none !important;
   text-align: left;
   font-size: 12px;
 }

 /* check */

 .createdReceipt {
  font-size: 12px;

 }
 .titleCheck {
   color: black;
   font-size: 18px;
 }
 .boxStar {
  height: 10px;
  width: 100%;
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px; }
 .checkStar::before {
  content: "* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * ";
  position: absolute;
  left: 0;
  top: 0;
  color: #161b25;
  opacity: .5;
  font-size: 14px;
  font-feature-settings: "tnum" on,"lnum" on;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  }
 
 .spriteBlock {
  display: flex;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
}
.input-group-prepend {
  height: 30px !important;

}
 .form-check {
   display: flex !important;
 }

 .check {
       position: relative;
       font-family: Inter;
       padding: 20px;
       padding-top: 5px;
       background: linear-gradient(0deg,#f0f1f2,#f0f1f2),#f0f1f2;
       border-radius: 6px;
       min-height: 100px;
 }
 .emailBlock{
   padding-top: 30px;
   text-align: start;
 }
 .emailTitle {
   padding-top: 10px;
 }
 .emailInput {
   font-size: 12px !important;
  border-radius: 10px ! ;
 }
 .sum {
   display: flex;
   font-size: 16px;
    font-weight: 700;
    color: #161b25;
    justify-content: space-between;
    padding-top: 15px;
    flex-wrap: nowrap;
 }
 .sumNumber {
   display: flex
 }
 .btnSum {width: 20px; height: 15px;
border-radius: 10px;
position: relative;
border: none;
outline: none;
}
.btnSum:focus {
  /* border: none; */
  outline: none;
}
.spanClose {
  position: absolute;
  top:-2px
}
.boxCount {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
   min-width: 60px;
  background-color: #fff;
  justify-content: space-around;
  padding:5px;
  margin-right: 30px;
  cursor: pointer;
  font-size: 12px;
  flex: 0 0 50%;
    max-width: 20%;
}
.containerPrice {
  display: flex;
  font-size: 14px;
    line-height: 18px;
    font-feature-settings: "tnum" on,"lnum" on,"zero" on;
    color: #161b25;
}
.boxPrice {
  width: 100%;
    text-align: end;
   font-size: 14px;
    line-height: 18px;
    font-feature-settings: "tnum" on,"lnum" on,"zero" on;
    color: #161b25;
}
.increment {
  color: #0cb1d6;
  }
.decrement {
  
  color: #0cb1d6;
}
.goodsCheck{
  display: flex;
  align-items: center;
    flex: 0 0 40%;
    max-width: 40%;
}

.btnSun::before {
  content: 'x'; 
  color: #fff;
  font-weight: 300;
  font-family: Arial, sans-serif;
}
 /* goods */
 .createdGoods {
  padding-right: 20px !important;
  font-size: 0.8rem!important;
  
 }
 .goodsName {
   overflow: hidden;
 }
  .price {
    font-size: 10px;
    line-height: 16px;
    font-feature-settings: "tnum" on,"lnum" on,"zero" on;
    color: #161b25;
    opacity: .5;
  }
  .SumPriceaCom {
    display: inline-block;
  }
 .fa-search::before {
color: #a1a4a8   ;
position: absolute;
left: 7px;
    top: 29px;
 }
 #exampleSearch {
   padding-left: 25px !important;
   font-size: 12px;
   border-radius: 10px;
 }
 .tableCretedReceipt thead tr th:nth-child(1){
width: 50% !important;
}
.tableCretedReceipt thead tr th:nth-child(2){
  width: 16% !important;
  }
  .tableCretedReceipt thead tr th:nth-child(3){
    width: 19% !important;
    }
 thead tr th {
  color: rgba(0,0,0,.6) !important;
 }
 
 /* Modal */

 .modalConteiner {
   max-width: 350px !important;
   /* max-height: 300px !important; */
  }

  /* Pay */
  .containerPay {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .blockCash {
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    padding-top: 7px;
    padding-bottom: 7px;  }
  .titleCash{
    font-size: .7em;
    color: #161b25;
    opacity: .5;
  }
  .sumCash {
    font-size: 1em;
    color: #161b25;
    opacity: .5;
  }
  
  .radioPay label{
    padding-bottom: 5px;
    color:  rgba(0,0,0,.6) ;

  }
.dialogKashier {
  margin: auto;
  top: 20%;
  right: 10%;
  width: 800px !important;

}
.nav-link  {
  width: 100%;
text-align: left !important;
padding:0.4rem 0rem 0.4rem 0rem !important;
}

  /* table kashier */
  .tableKashier {
    margin-top: 30px;
    font-size: 12px;
  }
  .tableTaxes {
    margin-top: 30px;
    font-size: 12px;
  }
  .tableChenges {
    margin-top: 30px;
    font-size: 12px;
  }
  .tableGoods {
    margin-top: 30px;
    font-size: 12px;
  }
 .formKashier input {
   border-radius: 10px ;
  }
 .MuiOutlinedInput-root {
   border-radius: 10px;
 }
 .tableKashier thead tr th:nth-child(1){
  width: 16% !important;
 }
 .tableKashier thead tr th:nth-child(2){
  width: 29% !important;
 }
 .tableKashier thead tr th:nth-child(3){
  width: 19% !important;
 }
 .tableKashier thead tr th:nth-child(4){
  width: 31% !important;
 }
 .tableTaxes thead tr th:nth-child(1){
  width: 15% !important;
 }
 .tableTaxes thead tr th:nth-child(2){
  width: 20% !important;
 }
 .tableTaxes thead tr th:nth-child(3){
  width: 25% !important;
 }
 .tableTaxes thead tr th:nth-child(4){
  width: 15% !important;
 }
 .tableTaxes thead tr th:nth-child(5){
  width: 15% !important;
 }
 .tableGoods thead tr th:nth-child(1){
  width: 7% !important;
 }
 .tableGoods thead tr th:nth-child(2){
  width: 40% !important;
 }
 .tableGoods thead tr th:nth-child(3){
  width: 15% !important;
 }
 .tableGoods thead tr th:nth-child(4){
  width: 10% !important;
 }
 .tableGoods thead tr th:nth-child(5){
  width: 15% !important;
 }
 .tableGoods thead tr th:nth-child(6){
  width: 15% !important;
 }
  
 .tableChenges thead tr th:nth-child(1){
  width: 7% !important;
 }
 .tableChenges thead tr th:nth-child(2){
  width: 20% !important;
 }
 .tableChenges thead tr th:nth-child(3){
  width: 15% !important;
 }
 .tableChenges thead tr th:nth-child(4){
  width: 10% !important;
 }
 .tableChenges thead tr th:nth-child(5){
  width: 15% !important;
 }
 .tableChenges thead tr th:nth-child(6){
  width: 15% !important;
 }
 .tableOutlet thead tr th:nth-child(3){
  width: 52% !important;
 }
 
 .spanDPS {
  background-color: rgba(255, 170, 1, 0.2);
  border-color: rgba(255, 170, 1, 0.2);
  color: rgb(195, 127, 0);
  caret-color: rgb(195, 127, 0);
  border-radius: 8px;
    padding: 4px 7px;
    font-size: .69rem;
    height: 22px;
 }
 .MuiOutlinedInput-root {
  border-radius: 10px !important;
 }
 .MuiTextField-root {
   min-width: 450px !important;
 }
 .kassSelect {
  padding-bottom: 20px !important;
 }
 .containerButtonDps {
   display: flex;
   margin-top: 50px;
   margin-bottom: 20px;
  }
  .MuiTooltip-tooltip {
    font-size: 12px !important;
  }
  .spanCheckbox {
    background-color:black;
    /* border-color: rgba(255, 170, 1, 0.2); */
    color: white;
    /* caret-color: rgb(195, 127, 0); */
    border-radius: 8px;
      padding: 4px 7px;
      font-size: .69rem;
      height: 22px;  }
      .containerReturn {
        display: flex;
align-items: center;  
justify-content: space-between;    }
.form-group {
  width: 99%;
}
.btn-search {
  margin-left: 20px;
}
.MuiOutlinedInput-input {
  height: 0.9em !important;
}
.returnTitle {
  text-align: left;
  font-weight: 700!important;
  font-size: 15px;
}
.btn-returnContainer {
  margin-top: 40px;
  text-align: right;
  
}
.btn-return {
  
  color: white !important;
  background: #48a1ff !important;
  border-radius: 10px !important;
}
/* .btn-return :checked {
} */
.boxReturn {
  margin-top: 50px;
}
.btnCheckView {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background: inherit;
}
.btnCheckView:hover {
  background: linear-gradient(1deg,#dbdada,#f0f1f2),#7c7c7c;
}
.fa-ellipsis-h:before {
   opacity: 0.6;
}

.boxJustDo {
  position: relative;
}
/* .boxJustDo::after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 11px;
  border: 4px solid transparent;
  border-left: 7px solid white;

} */
.textJustDo {
  padding: 8px 0px 8px 8px;
}
.blockCheckView {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
width: 160px;
background: white;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  position: absolute;
  top: -2px;
  right: 20px;
  cursor: pointer;
 }
.fa-eye {
  padding-right: 8px;
}

.authKashier {
  padding-bottom: 30px;
}
.authKass {
  padding-bottom: 30px;

}
.MuiDialog-paperWidthSm {
  border-radius: 10px !important;
}
label {
  display: block;
  padding-left: 16px;
  /* position is not required */
}
.btnAuth {
  text-align: center;
  margin-bottom: 30px;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
.inputCash {
  text-align: center;
  border: none;
  color: black;
}
.conteinrerPeriod {
  max-width: 350px;
  text-align: left;
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
  align-content:space-between
 }
.titlePeriod{
  margin-top: 30px;
 
 font-family: e-Ukraine-light,serif;
 line-height: 1.5;
 color: rgba(0,0,0,.77)
 }